<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ps.moradi.inappupdate">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App.App"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:supportsRtl="true">

        <activity
            android:name=".activity.UpdateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/InAppUpdateTheme" />
        <activity
            android:name=".activity.InstallActivity"
            android:screenOrientation="portrait"
            android:theme="@style/InAppUpdateTheme" />

    </application>

</manifest>